---
layout: default
make-smaller-titles: true
---


<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <img src="{{ site.title_image }}" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}" />
            </div>

            <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>

            <div class="author-text">
                Just a blog about C++. Transitioning from my earlier blog on <a href="https://www.medium.com/@barryrevzin">Medium</a>.
            </div>

            {% include social_links.html %}
          </div>
          <div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Latest Articles</h2>

              <ul>
                  {% for post in site.posts limit: site.post_limit %}

                      <li>
                          {% if post.medium_link %}
                          <a href="{{ post.medium_link }}?source=brevzin.github.io"><i class="fa fa-medium"></i> {{ post.title }}</a>
                          {% else %}
                          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                          {% endif %}
                          <br/><small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                      </li>

                  {% endfor %}
                  <li>
                      <small><i><a href="{{ site.baseurl }}/posts/">more...</a></i></small>
                  </li>
              </ul>

            </div>

        </div>

        <div class="col-md-12 main content-panel">
          <div class="about">
            <h2>About Me</h2>
            I'm a C++ developer at <a href="https://www.jumptrading.com/">Jump Trading</a>, member of the C++ standards committee, and unreasonably active on StackOverflow in the various C++ tags. I'm also a swimming enthusiast and data junkie, writing the occasional post for <a href="https://www.swimswam.com/">SwimSwam</a>. 
          </div>
        </div>
        
    </div>
</div>
