---
layout: default
make-smaller-titles: false
---


<div class="container-fluid index">
  <div class="row index all-posts">

    <h1 class="header author-header">{{ site.author_name }}</h1>
    <h2 class="header" itemprop="headline">All posts</h2>
    <h2 class="header categories" itemprop="headline"><small>grouped by

      <div class="dropdown btn-group">
        <button class="btn btn-categories dropdown-toggle btn-xs" type="button" data-toggle="dropdown">Tags
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="{{ site.baseurl }}/posts/">Years</a></li>
        </ul>
      </div>

    </small></h2>
    {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
    {% assign tags_list = site_tags | split:',' | sort %}

    <div class="col-md-12 content-panel articles">
        <ul class="tag-box inline">
        {% for item in (0..site.tags.size) %}{% unless forloop.last %}
            {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
            <li style="display:inline">
                <a href="#{{ this_word }}" style="border-radius:4px"><span style="color:#3CA2A2">{{ this_word }}</span><span style="vertical-align:super;font-size:16px">{{ site.tags[this_word].size }}</span></a>
            </li>
        {% endunless %}{% endfor %}
        </ul>
    </div>

    {% for tag_pair in site.tags %}
      {% assign tag = tag_pair | first %}
      {% assign posts = tag_pair | last %}
      <div class="col-md-12 content-panel articles">
        <a name="{{tag | downcase | replace:" ","-"}}"></a> <h2 id="{{ tag }}-ref">{{ tag }}</h2>
        <ul>
            {% for post in posts %}
            {% unless post.pubdraft %}
              <li>
                {% if post.medium_link %}
                <a href="{{ post.medium_link }}?source=brevzin.github.io"><i class="fa fa-medium"></i> {{ post.title }}</a>
                {% else %}
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                {% endif %}
                <br /><small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
              </li>
          {% endunless %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>
