<!--
  Navigation buttons at the bottom of the post.
-->

<div class="post-navigation d-flex justify-content-between">
  {% assign prev = page.previous %}
  {% for counter in (0..9) %}
    {% unless prev.url %}
      {% break %}
    {% endunless %}
    {% unless prev.pubdraft %}
      {% break %}
    {% endunless %}
    {% assign prev = prev.previous %}
  {% endfor %}

  {% assign next = page.next %}
  {% for counter in (0..9) %}
    {% unless next.url %}
      {% break %}
    {% endunless %}
    {% unless next.pubdraft %}
      {% break %}
    {% endunless %}
    {% assign next = next.next %}
  {% endfor %}

  {% if prev.url %}
  <a href="{{ site.baseurl }}{{ prev.url }}" class="btn btn-outline-primary"
    prompt="{{ site.data.locales[site.lang].post.button.previous }}">
    <p>{{ prev.title | escape }}</p>
  </a>
  {% else %}
  <div class="btn btn-outline-primary disabled"
    prompt="{{ site.data.locales[site.lang].post.button.previous }}">
    <p>-</p>
  </div>
  {% endif %}

  {% if next.url %}
  <a href="{{ site.baseurl }}{{next.url}}" class="btn btn-outline-primary"
    prompt="{{ site.data.locales[site.lang].post.button.next }}">
    <p>{{ next.title | escape }}</p>
  </a>
  {% else %}
  <div class="btn btn-outline-primary disabled"
    prompt="{{ site.data.locales[site.lang].post.button.next }}">
    <p>-</p>
  </div>
  {% endif %}

</div>
