<!-- Navigation buttons at the bottom of the post. -->

<nav class="post-navigation d-flex justify-content-between" aria-label="Post Navigation">
  {% assign previous = site.data.locales[include.lang].post.button.previous %}
  {% assign next = site.data.locales[include.lang].post.button.next %}

  {% assign prev_page = page.previous %}
  {% for counter in (0..9) %}
    {% unless prev_page.url %}
      {% break %}
    {% endunless %}
    {% unless prev_page.pubdraft %}
      {% break %}
    {% endunless %}
    {% assign prev_page = prev_page.previous %}
  {% endfor %}

  {% assign next_page = page.next %}
  {% for counter in (0..9) %}
    {% unless next_page.url %}
      {% break %}
    {% endunless %}
    {% unless next_page.pubdraft %}
      {% break %}
    {% endunless %}
    {% assign next_page = next_page.next %}
  {% endfor %}

  {% if prev_page.url %}
    <a
      href="{{ site.baseurl }}{{ prev_page.url }}"
      class="btn btn-outline-primary"
      aria-label="{{ previous }}"
    >
      <p>{{ prev_page.title }}</p>
    </a>
  {% else %}
    <div class="btn btn-outline-primary disabled" aria-label="{{ previous }}">
      <p>-</p>
    </div>
  {% endif %}

  {% if next_page.url %}
    <a
      href="{{ site.baseurl }}{{next_page.url}}"
      class="btn btn-outline-primary"
      aria-label="{{ next }}"
    >
      <p>{{ next_page.title }}</p>
    </a>
  {% else %}
    <div class="btn btn-outline-primary disabled" aria-label="{{ next }}">
      <p>-</p>
    </div>
  {% endif %}
</nav>
